---
layout: default
---

<div class="container">
    <div class="row row-centered">
        <div class="text-justify col-md-10 col-centered">
            <header>
                <h1>{{ page.title }}</h1>
            </header>
        </div>
    </div>
        {% for post in page.posts %}
            {% if forloop.index > 30 %}
                {% break %}
            {% endif %}
            {% assign mod = forloop.index | modulo:2 %}
            {% if mod == 1 %}
                <div class="row row-centered preview-block">
            {% endif %}
                <div class="text-justify col-md-5 col-centered">
                    <article class="homepage-preview">
                        <div class="cover" style="background-image: url('{{ post.cover }}"></div>
                        <div class="post-category"><a href="/{{ page.categories | first }}">{{ page.categories | first }}</a></div>
                        <header>
                            <a href="{{ post.url }}"><h1>{{ post.title }}</h1></a>
                        </header>
                        {% if post.excerpt %}
                            {{post.excerpt}}
                        {% else %}
                            {{ post.content }}
                        {% endif%}
                    </article>
                </div>
            {% if mod == 0 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
